body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #000;
}


input[type="text"] {
    padding: 5px;
}
